*.dll
*.json
*.pdb
*.cache
*.tmp
*.vsidx
*.v2
*.map
*.bin
*.csproj.*
*.css
*.js
*.props
*.config
*.manifest
*.testlog
*.*.cs
*.editorconfig
*LICENSE*
*_TestProject1
\.suo
*.exe
*.user
*.pubxml
WebApplication1/obj/Release/net8.0/
WebApplication1/bin/Release/net8.0/
